@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins-ExtraBold";
  src: url("../src/assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins-Bold";
  src: url("../src/assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../src/assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../src/assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins-Regular";
  src: url("../src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Lora-Regular";
  src: url("../src/assets/fonts/Lora-Regular.ttf");
}

@font-face {
  font-family: "Lora-Medium";
  src: url("../src/assets/fonts/Lora-Medium.ttf");
}

@font-face {
  font-family: "Lora-Bold";
  src: url("../src/assets/fonts/Lora-Bold.ttf");
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url("../src/assets/fonts/Poppins-Regular.ttf")
} 


#img {
  max-width: 100%;
  display: block;
}

figure {
  margin: 0px;
  display: grid;
  grid-template-rows: 1fr auto;
  /* margin-bottom: 10px; */
  break-inside: avoid; 
}

figure > img {
  grid-row: 1 / -1;
  grid-column: 1;
  padding-top: 20px;
}

figure a {
  color: black;
  text-decoration: none;
}

figcaption {
  grid-row: 2;
  grid-column: 1;
  background-color: rgba(255,255,255,.5);
  padding: .2em .5em;
  justify-self: start;
}

.container {
  column-count: 4;
  width: 100%; 
}

.containermobile {
  column-count: 2;
  width: 100%; 
}