@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Poppins-ExtraBold';
  src: url("../src/assets/fonts/Poppins-ExtraBold.ttf")
} 

@font-face {
  font-family: 'Poppins-Bold';
  src: url("../src/assets/fonts/Poppins-Bold.ttf")
} 

@font-face {
  font-family: 'Poppins-SemiBold';
  src: url("../src/assets/fonts/Poppins-SemiBold.ttf")
}  

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../src/assets/fonts/Poppins-Medium.ttf")
} 

@font-face {
  font-family: 'Lora-Regular';
  src: url("../src/assets/fonts/Lora-Regular.ttf")
} 

@font-face {
  font-family: 'Lora-Medium';
  src: url("../src/assets/fonts/Lora-Medium.ttf")
} 

@font-face {
  font-family: 'Lora-Bold';
  src: url("../src/assets/fonts/Lora-Bold.ttf")
} 

@font-face {
  font-family: 'Lora-SemiBold';
  src: url("../src/assets/fonts/Lora-SemiBold.ttf")
}  

@font-face {
  font-family: 'Poppins-Medium';
  src: url("../src/assets/fonts/Poppins-Medium.ttf")
} 